* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(to right , rgb(191 , 191 , 221) , rgb(188 , 198 , 218));
}

header {
  margin: 50px;
  font-size: 50px;
}

#meme-textUpload {
  width: 30%;
  padding: 10px;
  margin-bottom: 50px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}

#meme-image-container {
  width: 400px;
  border: 1px solid black;
  margin-bottom: 200px;
}

div img {
  width: 100%;
}

#meme-text {
  position: absolute;
  margin-top: -100px;
  color: white;
  font-weight: 900;
  font-size: 80px;
}
