body {
  max-width: 1366px;
  width: 100%;
  max-height: 768px;
  height: 100%;
  margin: auto;
  border: solid 1px grey;
  align-items: center;
}

#meme-image-container {
  position: relative;
  box-sizing: border-box;
  width: 500px;
  height: 500px;
  text-align: center;
  border: 1px solid black;
}

#meme-image {
  z-index: 1;
  max-width: 500px;
  width: 500px;
}

#meme-insert {
  background-color: rgb(34 , 95 , 119);
  box-sizing: border-box;
  text-align: center;
}

#meme-image-container p {
  position: absolute;
  font-size: 42px;
  color: white;
  text-shadow: 3px 3px 3px black;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  margin-left: 15px;
  z-index: 2;
  bottom: 10px;
}
