* {
box-sizing: border-box;
}

body {
  background-color: gray;
}

#meme-image-container {
  max-width: 500px;
  max-height: 500px;
  width: 500px;
  height: 500px;
  position: relative;
  background-color: white;
}

#meme-text {
  position: fixed;
  text-shadow: 5px 5px 5px black;
  font-size: 30px;
  color: white;
}

#meme-image {
  width: 100%;
  height: 100%;
}

.memes-prontos {
  display: flex;
}

.memes {
  display: flex;
  margin: 10px;
  border: 1px solid black;
}

.memes img {
  display: flex;
  width: 100px;
  height: 100px;
}

#fire {
  background-color: red;
}

#water {
  background-color: blue;
}

#earth {
  background-color: rgb(0,128,0);
}
