body {
  max-width: 1366px;
  width: 100%;
  max-height: 768px;
  height: 100%;
  margin: auto;
  border: solid 1px grey;
  align-items: center;
}

#meme-image-container {
  background-color: #272;
  box-sizing: border-box;
  max-width: 500px;
  width: 100%;
  text-align: center;
}

#meme-image {
  background-color: rgb(36, 122, 36);
  box-sizing: border-box;
  text-align: center;
  z-index: 1;
  max-width: 500px;
  width: 100%;
}

#meme-insert {
  background-color: rgb(34 , 95 , 119);
  box-sizing: border-box;
  text-align: center;
}

#meme-image-container p {
  position: absolute;
  font-size: 42px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  max-width: 500px;
  width: 100%;
  max-height: 280px;
  height: 100%;
  float: left;
  z-index: 2;
  margin-top: -120px;
}
