#entradas , h1 , h3 {
  margin-top: 50px;
  margin-left: 30px;
  text-align: center;
}

#meme-image-container {
  border: 1px solid black;
  background-color: white;
  position: relative;
  margin: auto;
  margin-top: 30px;
  display: block;
  z-index: -1;
  height: 400px;
  width: 400px;
}

#meme-text {
  position: absolute;
  top: 250px;
  width: 400px;
  word-wrap: break-word;
  text-align: center;
  font-size: 30px;
  color: white;
  text-shadow: 5px 5px 5px black;
  z-index: 2;
}

#meme-image {
  width: 100%;
  height: 100%;
  z-index: 1;
}

#buttons {
  display: block;
  margin-top: 20px;
}

#fire {
  background-color: red;
  width: 80px;
  height: 40px;
  margin-left: 40%;
  color: white;
  font-size: medium;
  font-weight: 700;
}

#water {
  background-color: blue;
  width: 80px;
  height: 40px;
  margin-left: 5px;
  color: white;
  font-size: medium;
  font-weight: 700;
}

#earth {
  background-color: green;
  width: 80px;
  height: 40px;
  margin-left: 5px;
  color: white;
  font-size: medium;
  font-weight: 700;
}

#memes {
  margin-top: 30px;
  display: block;
  margin-left: 35%;
}

#meme-1 , #meme-2 , #meme-3 , #meme-4 {
  margin: auto;
  height: 100px;
  width: 100px;
}
