h1 , #inputs {
  margin: auto;
  text-align: center;
}

input {
  margin-top: 20px;
  display: inline-block;
}

#meme-image-container {
  border: 1px solid black;
  background-color: white;
  position: relative;
  margin: auto;
  margin-top: 30px;
  display: block;
  z-index: -1;
  height: 400px;
  width: 400px;
}

#meme-image {
  object-fit: cover;
  width: 400px;
  height: 400px;
  z-index: 1;
}

#meme-text {
  position: absolute;
  top: 300px;
  width: 400px;
  word-wrap: normal;
  text-align: center;
  font-size: 30px;
  color: white;
  text-shadow: 5px 5px 5px black;
  z-index: 2;
}

#buttons {
  width: fit-content;
  display: block;
  margin: auto;
  margin-top: 20px;
  align-content: center;
}

#fire {
  background-color: red;
  border: none;
  width: 60px;
  height: 20px;
  margin-left: 5px;
}

#water {
  background-color: blue;
  border: none;
  width: 60px;
  height: 20px;
  margin-left: 5px;
}

#earth {
  background-color: green;
  border: none;
  width: 60px;
  height: 20px;
  margin-left: 5px;
}

#memes {
  position: relative;
  margin: auto;
  margin-top: 30px;
  display: block;
  height: 72px;
  width: 350px;
  z-index: 3;
}

#meme-1 , #meme-2 , #meme-3 , #meme-4 {
  object-fit: cover;
  margin-left: 10px;
  height: 70px;
  width: 70px;
  z-index: 4;
}
