* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgba(95 , 158 , 160 , 0.2);
  font-family: Noto Sans, sans-serif;
}

h1 {
  font: 50px;
  text-align: center;
}

#text-input {
  margin-top: 10px;
  border-radius: 4px;
  border: none;
  width: 200px;
  height: 24px;
  font-size: 18px;
}

#meme-image-container {
  border: 1px solid black;
  background-color: white;
  width: 40%;
  height: 50%;
  position: relative;
}

#meme-image {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

#meme-text {
  position: absolute;
  z-index: 1;
  bottom: 10px;
  left: 10%;
}

p:nth-of-type( 1 ) {
  margin-top: 10px;
  font-size: 20px;
}

#meme-image-container p {
  color: white;
  font-size: 30px;
  text-shadow: 5px 5px 5px black;
  font-weight: 700;
}

button {
  width: 100px;
  height: 30px;
  font-size: 18px;
  color: white;
  font-weight: 600;
}

#fire {
  background-color: red;
}

#water {
  background-color: blue;
}

#earth {
  background-color: green;
}

.memes-pre-definidos {
  display: flex;
  flex-direction: row;
}

.memes-pre-definidos img {
  width: 150px;
  height: 120px;
  margin-right: 20px;
}
