* {
box-sizing: border-box;
}

body {
  background-color: gray;
}

#meme-image-container {
  max-width: 500px;
  max-height: 500px;
  width: 500px;
  height: 500px;
  position: relative;
  background-color: white;
  border: 1px solid black;
}

#meme-text {
  position: fixed;
}

#meme-image {
  width: 100%;
  height: 100%;
}
