/* body {
  max-width: 1366px;
  width: 100%;
  max-height: 768px;
  height: 100%;
  margin: auto;
  border: solid 1px grey;
  align-items: center;
} */

#meme-image-container {
  position: relative;
  width: 500px;
  height: 500px;
  border: 1px solid black;
  overflow: hidden;
  text-overflow: clip;
  background-color: white;
}

#meme-image {
  z-index: -1;
  width: 500px;
  height: 500px;
}

#meme-text {
  position: absolute;
  font-size: 30px;
  color: white;
  text-shadow: 5px 5px 5px black;
  left: 16px;
  bottom: 8px;
}

#samples img {
  padding: 5px;
  max-width: 50px;
  max-height: 50px;
}

#fire {
  border: 3px dashed red;
  background-color: red;
  color: white;
}

#water {
  border: 5px double blue;
  background-color: blue;
  color: white;
}

#earth {
  border: 6px groove green;
  background-color: green;
  color: white;
}
