body {
  max-width: 1366px;
  width: 100%;
  max-height: 768px;
  height: 100%;
  margin: auto;
  border: solid 1px grey;
  align-items: center;
}

#meme-image-container {
  position: relative;
  box-sizing: border-box;
  width: 500px;
  height: 500px;
  text-align: center;
  border: 1px solid black;
  overflow: hidden;
  background-color: white;
  text-overflow: clip;
}

#meme-image {
  z-index: -1;
  max-width: 500px;
  width: 500px;
}

#meme-text {
  position: absolute;
  font-size: 30px;
  color: white;
  text-shadow: 5px 5px 5px black;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  margin-left: 15px;
  bottom: 8px;
}
