header {
  font-size: xxx-large;
  margin-bottom: 40px;
}

p {
  display: inline;
}

#meme-image-container {
  border: 1px solid black;
  background-color: white;
  margin: 20px;
  width: 600px;
  height: 600px;
}

#meme-image {
  width: 600px;
  height: 600px;
  position: absolute;
  z-index: 0;
}

#meme-text {
  position: absolute;
  color: white;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  width: 600px;
  z-index: 1;
  word-wrap: break-word;
  text-shadow: 5px 5px 5px black;
}

#fire {
  background-color: red;
  border-radius: 20%;
}

#water {
  background-color: blue;
  border-radius: 20%;
}

#earth {
  background-color: green;
  border-radius: 20%;
}

/* .memes {
    color: rgb(0, 0, 255);
} */