h1 {
  text-align : center;
  background-color: rgb(26,172,172);
  font-size: 50px;
  color: white;

}

#btn {
  display: flex;
  margin-left: 522px;
}

#meme-image-container {
  display: block;
  width: 300px;
  height: 300px;
  margin: auto;
  border: 1px solid black;
  background-color: white;
  margin-top: 10px;
}

#meme-image {
  position: absolute;
  z-index: 1;
  width: 300px;
  height: 300px;

}

#meme-text {
  position: absolute;
  z-index: 2;
  margin-top: 145px;
  width: 300px;
  height: 35px;
}

#span {
  width: 300px;
  height: 300px;
  flex-wrap: wrap;
  overflow-wrap: break-word;
  color: white;
  font-size: 30px;
  text-shadow: black 5px 5px 5px;

}

#btn3 {
  display: flex;
  width: 300px;
  margin: auto;
  margin-top: 10px;
}

#fire {
  background-color: red;
  font-size: 25px;
  color: white;
}

#water {
  background-color: blue;
  font-size: 25px;
  color: white;
}

#earth {
  background-color: green;
  font-size: 25px;
  color: white;
}


.ready-memes {
  margin-top: 30px;
}

.ready-memes img {
  width: 130px;
  height: 100px;
}

